.swiper-container {
    width: 75%; /* Or specify a specific width, e.g., width: 800px; /
    max-width: 100%; / Ensure the container doesn't exceed the viewport width /
    overflow: hidden; / Hide any content that overflows the container /
}

.swiper {
    / width: 100%; */
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-button-prev, swiper-button-next {
    position: absolute;
}
