@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);

.fotoProduto {
	width: 28rem;
    height: 20rem;
	object-fit: cover;
    object-position: center;
}

.popup-overlay { 
    background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
    background: transparent;
}